.fuck-facts {
  background-color: #222222;
  border-radius: 4px;

  ion-col {
    align-items: center;
  }

  ion-label {
    margin: 0;
    color: var(--ion-color-medium);
    font-size: 12.5px;
  }
}

.fuck-header {
  --background: transparent;

  ion-label {
    display: flex;
    align-items: center;

    ion-icon {
      font-size: 24px;
      margin-right: 16px;
      color: #dedede !important;
    }
  }

  ion-button {
    --padding-end: 0;
    color: #dedede !important;
    font-size: 16px;
    --background: transparent;
    --background-activated: transparent;

    ion-icon {
      margin-left: 8px;
    }
  }
}

.fuck-body {
  padding: 0 16px;
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;

  &.transition {
    height: auto;
    visibility: visible;
    opacity: 1;
  }

  .fuck-card {
    margin-top: 8px;
    background-color: #2e2e2e;
    border-radius: 4px;

    .card-header {
      ion-col {
        display: flex;
      }

      img {
        height: 36px;
      }
    }

    ion-col[size="7"] ion-label {
      color: white;
      white-space: unset;
    }

    .text-legal {
      margin: 8px 0;
      color: #3fb627;
    }

    .top-area {
      ion-label {
        font-size: 12px;

        a {
          color: #2a98f7;
        }
      }
    }
  }

  .close-btn {
    font-size: 28px;
    margin: 16px;
  }
}