.girl-card {
  margin-right: 0;

  img {
    object-fit: cover;
    object-position: top;
  }

  ion-icon {
    position: absolute;
    top: 8px;
    right: 8px;
  }
}

.main-slide {
  .girl-card img {
    object-position: center;
    height: 300px;
  }
}

.thumb-slide {
  .girl-card {
    max-height: 150px;
    padding: 4px;

    img {
      width: 100%;
      min-height: 70px;
    }
  }

  .swiper-slide {
    &.swiper-slide-active {
      border: 1px solid #ddd;
    }
  }
}

.upload-section {
  margin: 8px auto;
}