ion-content {
  --background: var(--ion-color-toolbar-bg);

  form {
    ion-item {
      --background: transparent;
    }
  }

  .remember {
    ion-label {
      font-size: 15px;
    }
  }

  .forgot-password {
    color: var(--ion-color-secondary);
    font-size: 15px;
    text-decoration: underline;
  }

  .create-account {
    margin-bottom: 32px;
    color: var(--ion-color-primary);
    font-size: 15px;
    text-decoration: underline;
  }

  .separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--ion-color-medium);
    font-size: 12px;

    &::before,
    &::after {
      content: '';
      flex: 1;
      border-bottom: 1px solid var(--ion-color-medium);
    }

    &::before {
      margin-right: 16px;
    }

    &::after {
      margin-left: 16px;
    }
  }
}