<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" (click)="back()">
        <ion-icon name="chevron-back"></ion-icon>
        {{'back' | translate}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center ion-margin ion-padding-top">
    <img src="/assets/images/fa-logo-{{ds.user.lang}}.png" height="50" />
  </div>

  <form class="ion-padding" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
    <ion-item class="fuck-item">
      <ion-label position="floating" color="light">{{'email' | translate}}</ion-label>
      <ion-input type="text" formControlName="email" autocomplete="doNotAutoComplete"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div
          class="error"
          *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)"
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item class="fuck-item">
      <ion-label position="floating" color="light">{{'password' | translate}}</ion-label>
      <ion-input type="password" formControlName="password" autocomplete="doNotAutoComplete" required></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div
          class="error"
          *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)"
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-row class="ion-padding-vertical">
      <ion-col size="6">
        <ion-item lines="none" class="remember">
          <ion-checkbox slot="start"></ion-checkbox>
          <ion-label color="light">{{ 'remeber' | translate }}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6" class="ion-text-right ion-align-self-center">
        <ion-label (click)="openResetPassword()" class="forgot-password">
          {{'forgot_password' | translate}}?
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-button expand="full" class="fuck-btn" type="submit" [disabled]="!loginForm.valid">
      {{'signin' | translate}}
    </ion-button>
  </form>

  <p class="ion-text-center create-account" (click)="openCreateAccount()">{{'create_account' | translate}}</p>

  <div class="ion-margin-vertical separator">{{'or' | translate}}</div>

  <div class="ion-margin-horizontal">
    <ion-button expand="full" color="light" (click)="loginWithGoogle()">
      <img src="/assets/icon/google-icon.png" height="50" />
      {{'continue_with_google' | translate}}
    </ion-button>
  </div>
</ion-content>
