<ion-content class="ion-padding ion-text-center">
  <h3>Are you sure to {{escort.usage > 0 ? 'disable' : 'active'}} #{{escort.index}}?</h3>
  <ion-buttons class="ion-justify-content-evenly">
    <ion-button fill="outline" class="text-btn" (click)="close()">No</ion-button>
    <ion-button fill="outline" class="text-btn" (click)="confirm()">Yes</ion-button>
  </ion-buttons>
  <ion-button fill="outline" class="text-btn" color="danger" (click)="delete()">
    Permanently Delete
  </ion-button>
</ion-content>