<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" (click)="close()">{{'close' | translate}}</ion-button>
    </ion-buttons>
    <ion-title>{{'reset_password' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <img src="/assets/images/fa-logo-{{ds.user.lang}}.png" height="50" />

  <ion-item class="fuck-item">
    <ion-label position="floating" color="light">{{'email' | translate}}</ion-label>
    <ion-input type="email" [(ngModel)]="email" required></ion-input>
  </ion-item>

  <ion-button expand="full" class="fuck-btn ion-margin-top" [disabled]="!email" (click)="reset()">
    {{'send_reset_email' | translate}}
  </ion-button>
</ion-content>
